.abs{
position:absolute;
}
.rel{
position:relative;
}
body{
overflow-x:hidden;
}
#panelRight{
position:absolute;
top:0%;
left:-100%;
background-color:green;
width:50%;
height:100%;
z-index:1;
display:none;
transition: left 0.2s, z-index 0.2s;
-webkit-transition: left 0.2s, z-index 0.2s;
-moz-transition: left 0.2s, z-index 0.2s;
-o-transition: left 0.2s, z-index 0.2s;
-ms-transition: left 0.2s, z-index 0.2s;
}
#panelRight:target{
position:absolute;
top:0%;
left:0%;
background-color:green;
width:50%;
height:100%;
z-index:999;
display:inline;

}
#restCh{
position:absolute;
top: -25px;
left:90%;
width:20px;
height:20px;
}
#hotCh{
position:absolute;
top: -25px;
left:90%;
width:20px;
height:20px;
}
#parkCh{
position:absolute;
top: -25px;
left:90%;
width:20px;
height:20px;
}
.showCm{
height:40px;
width:15%;
text-align:center;
line-height:40px;
border-top:none !important;
}
.topSearch{
top:55px;
left:25%;
}
.setMenu{
position:absolute;
top:50px;
left:5%;
width:39px;
}
.barsPos{
vertical-align:middle;
line-height:80px;
position:absolute;
top:10%;
left:0%;
}
.searchSize{
width: 0px;
padding: 0 !important;
position:relative;
top:0%;
left:-25%;

}
#map_canvas {
        width: 100%;
        height: 100%;
      background-color: #CCC;
      }
